.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  border: solid 1px black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: 40vw;
  background-color: #01a743;
}

.stone {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
